@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Catamaran', sans-serif;
  background: url(../imagens/bg.png)top 5rem right no-repeat #e70112;
}

.cabecalho{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  width: 100%;
  margin: 0px auto;
}

.cabecalho img{
  width: 4rem;
}

.cabecalho .menu{
  height: 100%;
  display: flex;
  align-items: center;
}

.cabecalho .menu a{
  font-weight: bold;
  color: #ffffff;
  font-size: 25px;
  padding: 10px 20px;
  border-radius: 50px;
}

.cabecalho .menu a:hover{
  background-color: #e70112;
  transition: 0.2s;
}

.container{
  max-width: 1440px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  height: calc(100vh - 138px);
  padding: 0px 30px 30px;
}

.container .imagem-titulo{
  max-width: 22rem;
}

.container .descricao{
  color: #FFF;
  width: 90%;
  font-size: 1.3rem;
  margin: .3rem 0 1.2rem;
}

.container .botao-trailer{
  background-color: #e70112;
  color: #ffffff;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
  text-transform: uppercase;
  transition: 0.3s all ease-in-out;
}

.container .botao-trailer:hover{
  transform: scale(1.1);
}

.container .mario{
  max-width: 35rem;
}

.fundo-video{
  position: absolute;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.fundo-video .video{
  width: 100vw;
  position: relative;
  top: -3rem;
}

.fundo-video::after{
  content: "";
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(180deg, rgb(0, 0, 0) 8%, rgba(0, 0, 0, 0.603) 50%, rgb(0, 0, 0) 90%);
}

.modal{
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.466);
  visibility: hidden;
}

.conteudo-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  border-radius: 5px;
  gap: 15px;
}

.fechar-modal{
  background-color: #ffffff;
  color: #e70112;
  font-weight: bold;
  font-size: 20px;
  width: 40px;
  text-align: center;
  cursor: pointer;
  border-radius: 7rem;
}

.modal iframe{
  border: 0;
  width: 640px;
  height: 360px;
}

.modal.aberto{
  opacity: 1;
  visibility: visible;
}